{% extends "base.html" %}

{% block title %}Admin Panel - Bosbes Blog{% endblock %}

{% block content %}
<h2>Admin Panel</h2>
<form class="post-form" method="POST" action="{{ url_for('admin') }}">
    <label for="title">Post Titel:</label>
    <input type="text" id="title" name="title" required>

    <label for="content">Post Content (Markdown):</label>
    <textarea id="content" name="content" rows="10" required></textarea>

    <button type="submit">Post maken</button>
</form>

<h2>Bestaande posts:</h2>
<ul>
    {% for post in posts %}
        <li>
            <a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a>
            <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}" style="display:inline;">
                <button type="submit" onclick="return confirm('Weet je zeker dat je deze post wil verwijderen?');">Verwijderen</button>
            </form>
        </li>
    {% endfor %}
</ul>


<h2>Comments beheren</h2>
<ul>
    <a href="{{ url_for('moderate_comments') }}">Comments beheren</a>
</ul>
{% endblock %}