{% extends "base.html" %}

{% block title %}Comments beheren - Bosbes Blog{% endblock %}

{% block content %}
<h2>Beheer Comments</h2>

{% if comments %}
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.username }}</strong>: {{ comment.content }} <br>
                <em>Posted on: {{ comment.timestamp }}</em>
                <form method="POST" action="{{ url_for('delete_comment') }}" style="display:inline;">
                    <input type="hidden" name="username" value="{{ comment.username }}">
                    <input type="hidden" name="post_id" value="{{ comment.post_id }}">
                    <input type="hidden" name="content" value="{{ comment.content }}">
                    <button type="submit" onclick="return confirm('Weet je zeker dat je deze comment wil verwijderen?');">Comment verwijderen</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nog geen comments.</p>
{% endif %}
{% endblock %}
